---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Guestbook - Leave a note for the history!">
  <div class="flex flex-col">
    <h3 class="text-4xl font-semibold">Guestbook</h3>
    <p>21 people have left messages!</p>
  </div>
</Layout>
