---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Marcos Corrochano Arroyo">
  <p class="text-5xl">
    <strong class="underline decoration-gray-300">Marcos</strong> is a simple software
    developer who likes music and playing games.
  </p>
</Layout>
