---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Marcos Corrochano Arroyo">
  <p class="about">
    <strong>Marcos</strong> is a simple software developer who likes music and playing
    games.
  </p>
</Layout>

<style>
  .about {
    text-wrap: balance;
    font-size: 45px;
    line-height: 1;
  }

  .about strong {
    text-decoration: underline;
    text-decoration-color: gainsboro;
    text-underline-offset: 5px;
  }
</style>
