---
import { Icon } from 'astro-icon/components'
---

<footer class="border-t border-gray-300 w-full pt-10">
  <div class="flex justify-between m-auto max-w-3xl w-[90%]">
    <ul class="flex flex-col gap-2 max-sm:hidden">
      <a href="/">Home</a>
      <a href="/guestbook">Guestbook</a>
      <a href="/media">Media</a>
    </ul>
    <ul class="flex flex-col gap-2 max-sm:hidden">
      <a href="#">Github</a>
      <a href="#">Twitch</a>
    </ul>
    <div class="flex flex-col gap-5 w-[70%] max-sm:w-full">
      <div class="flex flex-col">
        <span class="font-semibold">Wanna create software toguether?</span>
        Send me a e-mail or join my discord to contact me and share your ideas!
      </div>
      <a
        class="flex items-center justify-between border-2 rounded-full py-1 px-4"
        href="mailto:mcorrochanoa@outlook.com"
      >
        <p class="text-gray-600">mcorrochanoa@outlook.com</p>
        <Icon name="lucide:mail-plus" />
      </a>
    </div>
  </div>
</footer>
