<footer class="footer">
  <div class="footer-content">
    <span>Test</span>
    <span>Test</span>
  </div>
</footer>

<style>
  .footer {
    border-top: 1px solid gainsboro;
    width: 100%;
    padding-top: 40px;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
  }
</style>
