<nav class="navbar">
  <a href="/">Marcos</a>
  <ul class="navbar-links">
    <a href="/garden">Garden</a>
    <a href="/guestbook">Guestbook</a>
    <a href="/media">Media</a>
  </ul>
</nav>

<style>
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    gap: 24px;
  }
</style>
