<nav class="flex items-center justify-between w-full">
  <a href="/" class="font-semibold">Marcos</a>
  <ul class="flex items-center gap-5">
    <a href="#">Projects</a>
    <a href="#">Other</a>
  </ul>
</nav>
