---
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Navbar from '@components/Navbar.astro'
import '@styles/reset.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="en">
  <Head {title} />
  <body>
    <div class="container">
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --max-width: 768px;
    --color-gray: #464646;
  }

  body {
    font-family: var(--font-sofia-sans);
    font-size: clamp(1rem, 20px, 2rem);
  }

  .container {
    max-width: var(--max-width);
    width: 90%;
    margin: auto;
    padding-top: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
</style>
