---
import { Icon } from 'astro-icon/components'
---

<div class=`w-full h-[300px] bg-[url('/images/note.webp')] bg-cover`>
  <div class="flex flex-col justify-between h-full z-10 p-10">
    <form
      method="POST"
      class="flex flex-col h-full justify-between max-sm:items-center"
    >
      <div>
        <input
          type="text"
          name="name"
          placeholder="Your name"
          class="rounded-md w-full focus:outline-none"
          required
        />
        <textarea
          name="text"
          placeholder="Your message"
          class="rounded-md w-full h-full mt-4 resize-none overflow-hidden focus:outline-none"
          maxlength="100"
          required
        />
      </div>
      <button
        type="submit"
        class="text-black rounded-full self-end underline hover:text-dimegrey"
      >
        <Icon name="lucide:send" />
      </button>
    </form>
  </div>
</div>

<script>
  import { actions } from 'astro:actions'
  import { navigate } from 'astro:transitions/client'

  const form = document.querySelector('form')
  form?.addEventListener('submit', async (event) => {
    event.preventDefault()
    const formData = new FormData(form)
    const { error } = await actions.addNote(formData)
    if (!error) navigate('/guestbook')
  })
</script>
